.dx-theme-generic {
    .dx-toolbar {
        padding: 6px 20px;
    }
}
// .create-new-order-grid {
    .dx-overlay-content {
        // width: 500px !important;
    }
// }

.product-name {
    color: rgba(9, 109, 217, 1);
    cursor: pointer;
}