.dx-popup-title.dx-toolbar {
    background: radial-gradient(83.92% 75531.25% at 8.58% 50%, #2A4464 0%, #3D6698 25.68%, #2E65AB 53.21%, #3D6698 79.94%, rgba(44, 69, 99, 0.89) 100%);
    color: white;
}
.margin-field {
    margin: 0 0 30px !important;
}

.field-margin {
    margin-left: 20px;
}